
@media(min-width:1280px){ 
    .teste {
        font-size: 40px;
    }
    .text-header {
        display: flex;
        margin-top:20px;
        margin-bottom: 20px; 
    }
    .title{
        font-size: 80px;
    }
    .title-2{
        margin-top: 40px;
        font-size: 25px;
        line-height: 0px;
        margin-bottom: 0px;
    }
    
    .title-container{
        margin-top: 2px;
    }
    .container {
        display: flex;
        margin: 0;
        height: 700px;
        
    }
    .text-title{
        font-size: 50px;

    }
    .text-title2{
        font-size: 35px;
        margin-top: 40px;
    }
    .image-text {
        width: 120px;
        
    }
    
    .text-container{
        justify-content: center;
    }
    .container-text{
        width: 45%;
    }
    
    
    .text-landing {
        margin: 11%;
        margin-bottom: 20%;
        
    }
    .img-mobile{
        display: none;
    }
    .container-image{
        width: 45%;
    }
    
    .image {
        width: 90%;
        display: block;
        
           
    }
    .img {
        height: 600px;
        
    }
    .button-text{
        width: 220px;
        height: 45px;
        font-size: 22px;
        margin-top: 30px;
    }
    
    }
    
@media(min-width:1024px)and (max-width:1270px){ 
.teste {
    font-size: 40px;
}
.text-header {
    display: flex;
    margin-top:20px;
    margin-bottom: 20px; 
}
.title{
    font-size: 80px;
}
.title-2{
    margin-top: 40px;
    font-size: 25px;
    line-height: 0px;
    margin-bottom: 0px;
}

.title-container{
    margin-top: 2px;
}
.container {
    display: flex;
    margin: 0;
    
}
.text-title{
    font-size: 40px;
    margin: 5%;
}
.text-title2{
    font-size: 25px;
}
.image-text {
    width: 80px;
}

.text-container{
    justify-content: center;
}
.container-text{
    width: 45%;
}


.text-landing {
    margin: 11%;
    margin-bottom: 20%;
    
}
.img-mobile{
    display: none;
}
.container-image{
    width: 45%;
}

.image {
    width: 90%;
    display: block;
    
       
}
.img {
    height: 600px;
    
}
.button-text{
    width: 190px;
    height: 40px;
    font-size: 20px;
}

}


@media (max-width:450px) {
    .title{
        font-size: 50px;
    }
    .title-2{
        font-size: 18px;
    }
    .title-container {
        margin-top: 15px;
        line-height: 24px;
    }
    .image-mobile{
        display: block;
        
        width: 90%;
    }
    .container-image{
        display: none;
    }
    .image{
        display: none;
    }
    .container{
        flex-direction: column;
    }
    .img-mobile {
        height: 400px;
        margin: 15px;
        margin-left: 0px;
        
    }
    .container-text{
        width: 100%;
        
    }
    .text-title{
        font-size: 39px;
    }
    .image-text{
        width: 80px;
    }
    .text-title2{
        font-size: 27px;
    }
    .button-text{
        width: 160px;
        height: 38px;
        font-size: 18px;
    }
    .text-landing{
        margin-top: 30px;
        margin-bottom: 30px;
    }
}

@media(min-width:460px) and (max-width:1023px){
    .title{
        font-size: 80px;
    }
    .title-2{
        font-size: 25px;
    }
    .title-container {
        margin-top: 27px;
        line-height: 35px;
    }
    .image-mobile{
        display: block;
        
        width: 90%;
    }
    .image-mobile2{
        width: 90%;
        margin-left: 5%;
    }
    .container-image{
        display: none;
        
    }
    .image{
        display: none;
    }
    .container{
        flex-direction: column;
    }
    .img-mobile {
        width: 90%;
        height: 600px;
        margin: 15px;
        
        
    }
    .container-text{
        width: 90%;
        margin-left: 5%;
        height: 700px;
        
    }
    .text-title{
        font-size: 50px;
    }
    .image-text{
        width: 100px;
        margin-top: 30px;
    }
    .text-title2{
        font-size: 40px;
        margin-top: 30px;
        margin: 5%;
    }
    .button-text{
        width: 250px;
        height: 50px;
        font-size: 22px;
        margin-top: 30px;
    }
    .text-landing{
        margin-top: 60px;
    }
}
